n8n/wa-bot-workflow-fixed.json
{
  "name": "WhatsApp Auto-Reply",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-webhook",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "wa-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.body.data.fromMe?.toString() }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-2",
              "leftValue": "={{ $json.body.data.contact.id }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-filter",
      "name": "Hanya Pesan Masuk",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wa-api-production-86c5.up.railway.app/api/messages/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "9b7c459c32b4434d1caa0c9909a85e9267a2d0"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ \"to\": $json.body.data.contact.id || $json.body.data.from, \"message\": \"Halo! Terima kasih sudah menghubungi Rikzan. Mohon maaf saat ini sedang sibuk dan belum bisa membalas. Pesan kamu sudah diterima dan akan dibalas secepatnya ya! 😊\" }) }}"
      },
      "id": "node-send",
      "name": "Kirim Balasan WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Hanya Pesan Masuk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hanya Pesan Masuk": {
      "main": [
        [
          {
            "node": "Kirim Balasan WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
